/** 
* Contains display, text, screen size, and other global styles
*/

// SCREEN
/** 
* width: 100%;
*/
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.h-full {
  height: 100%;
}

// DISPLAY
.hidden {
  display: none;
}

.block {
  display: block;
}

// TEXT
.bold {
  font-weight: 700;
  font-style: normal;
}

// FONT
.font-montserrat {
  font-family: 'Montserrat Regular', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

// POSITION
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.top-left-50 {
  top: 50%;
  left: 50%;
}
.top-right-50 {
  right: 50%;
  top: 50%;
}
