main#confetti {
  // background-color: black;
  z-index: -500;
  button {
    position: relative;
    place-self: center;
    padding: 0.5rem 2rem;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(45deg, purple, orange) border-box;
    border: 5px solid transparent;
    border-radius: 50px;
    transition: all 1s;
    overflow: hidden;
    color: purple;
    z-index: 1;
    h1 {
      font-size: 2rem;
    }
    &:before {
      content: '';
      position: absolute;
      height: 150px;
      inline-size: inherit;
      z-index: -1;
      width: 300px;
      padding: 0.25rem;
      background-color: purple;
      transform: translate(-130%, -50%);
      top: 50%;
      transition: all 1s;
    }
    &:hover {
      &:before {
        width: 300px;
        transition-delay: 200ms;
        transform: translate(-50%, -50%);
      }
      border-color: purple;
      color: white;
    }
  }
}
