main#hack-text {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  display: grid;
  h1 {
    place-self: center;
    color: white;
    font-size: 5rem;
    font-family: 'Space Mono', monospace;
    // font-family: ;
  }
}
