main#span-cards {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);
  }
}

main#span-cards .card {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 260px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  &::before {
    content: '';
    background: radial-gradient(
      800px circle at 100px 100px,
      rgba(255, 255, 255, 0.1),
      transparent 40%
    );
    position: absolute;
    border-radius: inherit;
    height: 100%;
    inset: 0;
    z-index: 2;
    width: 100%;
  }
}
