/* You can add global styles to this file, and also import other style files */
@use './styles/reset';
@use './styles/variables';
@use './styles/global';

// Main page
@use './styles/app';

// Mock ups
@use './styles/jp-mock';
@use './styles/_starbucks';

// animations
@use './styles/animations/revealcards';

// Good website for UI
// https://svg-path-visualizer.netlify.app/#M2%2C8%20L5%2C2%20L8%2C8
// https://css-tricks.com/svg-path-syntax-illustrated-guide/
// GLOBAL STYLES
.container {
  max-width: 1280px;
  padding-inline: 1rem;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (max-width: 1280px) {
    padding-inline: 1rem;
  }

  .small-container {
    width: 80%;
    margin-inline: auto;
  }
}
